@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--outfit), system-ui, sans-serif;
  --font-serif: var(--literata), serif;
  --font-mono: var(--jetbrains-mono), monospace;
}

.ProseMirror {
  @apply outline-none;

  p {
    @apply my-2 text-gray-800;
  }

  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-3;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }

  code {
    @apply bg-gray-100 px-1 rounded;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 my-2 text-gray-500 italic;
  }

  img {
    @apply mx-auto block h-80;
  }

  a {
    @apply underline hover:text-gray-600 cursor-pointer;
  }
}
